*{
    margin: 0;

}

.fila1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid red;
}

.logo{
    width: 9rem;
    height: 6rem;
    border: 1px solid blue;
}
  
.fila2{
    display: flex;
    border: 5px solid rgb(187, 179, 66);
    height: 4rem;
    justify-content: end;
    align-items: center;
    flex-direction: row; 
}

.fila2 a{
    margin: 0 6rem;
}

.fila3{
    display: flex;
    justify-content: center;
    background-image: url("https://picsum.photos/seed/picsum/800/1000");
    border: 5px solid rgb(127, 120, 12);
}

.caja-fila3{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;  
}

.fila3 button{
    height: 2rem;
    width: 5rem;
}

.fila4{
    border: 1px solid salmon;
    display: flex;  
    justify-content: space-around;
    width: 100%;
}

.caja-izquierda{
    justify-content: center;
    text-align: center;
}
.caja-derecha{
    text-align: center;
    display: flex;
}

.cajita{
    justify-content: center;
    display: flex;
    gap: 20px;
}

.fila5{
    display: flex;
    border: 1px solid lightgreen;
    justify-content: center;
}

.contenedor-tabla{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.redes{
    display: flex;
    align-self: baseline;
}

.maps{
    width: 50%;
}