*{
    margin: 0;

}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid red;
}

.logo{
    width: 9rem;
    height: 6rem;
    border: 1px solid blue;
}
  
.navegacion{
    display: flex;
    border: 5px solid rgb(187, 179, 66);
    height: 4rem;
    justify-content: end;
    align-items: center;
    flex-direction: row; 
}

.navegacion a{
    margin: 0 6rem;
}

.articulo-principal{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("https://picsum.photos/seed/picsum/800/1000");
    border: 5px solid rgb(127, 120, 12);
}

.container-articuloPrincipal{
    border: 2px solid rgb(180, 24, 50);
    width: 50%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.articulos-secundarios{
    border: 1px solid salmon;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.articulo-izquierda{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    ;
    width: 30%;
    height: 30vh;
}
.articulo-derecha{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30vh;
}

.mini-articulo{
    justify-content: center;
    display: flex;
    gap: 20px;
}

.informacion{
    display: flex;
    border: 1px solid rgb(3, 39, 3);
    justify-content: center;
    height: 90vh;
}

.contenedor-tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 80vh;
    border: 1px solid red;
}

.redes{
    display: flex;
    align-self: start;
}

.redes div{
    margin: 0 1rem;
}

.maps-formulario{
    text-align: center;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario form{
    display: flex;
    flex-direction: column;
}

.formulario button{
    width: 3rem;
    height: 2rem;
    align-self: center;
    margin-top: 1rem;
}

.aliadosPrincipales{
    outline: 1px solid red;
    height: 20vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.aliado{
    width: 5rem;
    height: 3rem;
    outline: 1px solid red;
    margin: 0 5rem;
}

.listasAliados{
    display: flex;
    justify-content: space-around;
}

.grupo {
    text-align: end;
}